* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

.apresentation {
    color: white;
    width: 100%;
    text-align: center;
    padding-top: 15px;
}

.listHeader {
    background-color: #193f3f;
    color: white;
    display: flex;
    position: fixed;
    width: 100%;
    z-index: 2;
}
.listHeader li {
    display: block;
    padding: 15px;
}

.listHeader li:first-child {
    margin-right: auto;
}

.listHeader li a:hover {
    cursor: pointer;
    color: red;
}

/* SOBRE INIT */

.containerSobre {
    display: flex;
    flex: 2;
    background-color: #194449;
}

.imgSobre, .txtSobre {
    margin-top: 65px;
    margin-bottom: 65px;
    width: 50%;
}

.imgSobre img {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    margin-left: 18%;
}

.contentTxtSobre {
    margin-top: 10%;
    text-align: center;
    color: white;
    margin-right: 20px;
}

.contentTxtSobre p {
    margin-top: 5%;
}

/* SOBRE END */

/* ** */

/* HABILIDADES INIT */

.containerHabilidades {
    background-color: #1e6262;
}

.skillsCards {
    display: grid;
    color: white;
    padding-top: 65px;
    padding-bottom: 65px;
    margin-left: 30px;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 5px;

    perspective: 1000px;
}

.skill {
    border: 1px solid white;
    border-radius: 5%;
    height: 200px;
    width: 200px;


    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.skillCardContainer {
    height: 200px;
    width: 200px;
}

.skillCardContainer:hover .skill {
    transform: rotateY(180deg);
 }

 .skill-front, .skill-back {
     position: absolute;
     height: 100%;
     backface-visibility: hidden;
     text-align: center;
    }
    
    .skill-back {
    width: 100%;
    background-color: #194449;
    transform: rotateY(180deg);
    border: lightseagreen;
 }

 .skill-front img {
    width: 175px;
    height: 175px;
    margin: 6.25px;
 }

 .box-progress {
    width: 180px;
    height: 85px;
    border: 3px solid white;
    display: flex;
    margin-left: 10px;
    padding: 5px;
    margin-top: 1em;
    margin-bottom: 1em;
    border-radius: 5px;
    box-shadow: 0px 2px 5px 0px #1e6262;
    cursor: pointer;
    transition: all 0.3s
 }

 .progress-bar {
     height: 65px;
     width: 50px;
    margin: 0 5px;    
     background-color: white;
    cursor: pointer;
    border-radius: 2px;
        
 }

/* HABILIDADES END */

/* ** */

/* PROJETOS INIT */

.containerProjetos {
    background-color: #194449;
}

.contentProjetos {
    display: grid;
    color: white;
    padding-top: 65px;
    padding-bottom: 65px;
    margin-left: 13%;
    grid-template-columns: 1fr 1fr;
    row-gap: 10px;
}

.projetos {
    /* padding-left: 15px; */
    border-radius: 5%;
    height: 250px;
    width: 250px;
    border: 1px solid white;
    display: flex;
    cursor: pointer;
}

.projetos:hover .linhaD {
    margin-left: 220px;
    transition: 0.3s;
}

.projetos:hover .linhaE {
    margin-left: 10px;
    transition: 0.3s;
}

.projetos:hover .imgProject {
    transition: 0.4s;
    opacity: 0.5;
}

.projetos:hover .nameProject {
    opacity: 1;
}

.projetos:hover .dscProject {
    opacity: 1;
}



/* .detailProject {
    text-align: center;
    border: 1px solid red;
    height: 250px;
    width: 250px;
    position: absolute;
} */

.nameProject {
    opacity: 0;   
    position: absolute;
    margin-left: 3%;
    margin-top: 10px;
}

.imgProject {
    position: absolute;
    border-radius: 5%;
    height: 250px;
    width: 250px;
    opacity: 1;
}

.dscProject {
    position: absolute;
    max-width: 229px;
    text-align: center;
    margin-left: 11px;
    margin-top: 90px;
    opacity: 0;
    margin-right: 11px;
}


.linhaD, .linhaE {
    height: 230px;
    margin-top: 10px;
    z-index: 1;
}
.linhaD {
    /* margin-right: 120px; */
    margin-left: 5px;
    border-right: 1px solid white;
}

.linhaE {
    margin-left: 120px;
    margin-right: 5px;
    border-left: 1px solid white;
}
/* PROJETOS END */

/* ** */

/* CONTATO INIT */

.containerContato {
    background-color: #1e6262;
}

.iconsContato {
    margin-left: 40%;
    padding: 18px 0px;
}

.iconsContato i {
    font-size: 50px;
    transition: 0.3s;
    padding-left: 5px;
}

.iconsContato i:hover {
    cursor: pointer;
    color: rgb(166, 168, 166) ;
}

/* CONTATO END */

@media only screen and (min-width: 1251px) {
    .imgSobre{
        margin-left: 25%;
    }
    
    .txtSobre{
        margin-right: 25%;
    }

    .skillsCards {
        padding-left: 15%;
    }
    
    .contentProjetos {
        margin-left: 20%;
    }
}
