@media only screen and (max-width: 569px) and (min-width: 495px){
    * {
        /* overflow-x: hidden; */
        width: auto;
        position: relative;
    }

    /* SOBRE INIT */

    .containerSobre { 
        flex-wrap: wrap;
    }
    
    .imgSobre {
        width: 100%;
        border-bottom: 0;
    }
    .imgSobre img {
        margin: 0 30%;
    }
    
    .txtSobre {
        width: 100%;
        margin-top: 0;
        padding-top: 0;
        margin-bottom: 35px;
    }
    
    .contentTxtSobre {
        width: 100%;
        margin: 0 5%;
    }
    
    .contentTxtSobre p {
        margin: 2% 25%;
    }

	/* SOBRE END */

	/* ** */

    /* HABILIDADES INIT */

    
    .skill {
        overflow-x: unset;
    }
    
	.skillsCards {
        overflow-y: hidden;
		grid-template-columns: 1fr 1fr;
		margin: 0 7%;
        row-gap: 15px;
        column-gap: 15px;
    }

	
	/* HABILIDADES END */
    
    /* ** */

    /* PROJETOS INIT */
    
    .contentProjetos {
        grid-template-columns: 1fr;
        row-gap: 20;
        margin: 0 24%;
    }

	/* PROJETOS END */
	
}