@media only screen and (max-width: 650px) and (min-width: 570px) {
    /* * {
        overflow-x: hidden;
        width: auto;
    }
    */
    /* SOBRE INIT */
   
    .containerSobre{ 
        flex-wrap: wrap;
        background-color: orange;
    }
    
    .imgSobre {
        width: 100%;
        border-bottom: 0;
    }
   
    .imgSobre img {
        margin: 0 30%;
    }
    
    .txtSobre {
        width: 100%;
        margin-top: 0;
        padding-top: 0;
        margin-bottom: 35px;
    }
    
    .contentTxtSobre {
        text-align: center;
        color: white;
        margin: 0 5%;
    }

	/* SOBRE END */

	/* ** */

	/* HABILIDADES INIT */
	
	.skillsCards {
		grid-template-columns: 1fr 1fr;
		margin: 0 13%;
		row-gap: 15px;
	}
		
	/* HABILIDADES END */
    
    /* ** */

    /* PROJETOS INIT */
    
    .contentProjetos {
        grid-template-columns: 1fr;
        row-gap: 20;
        margin: 0 27%;
    }

    /* PROJETOS END */
	
}